.main {
    display: flex;
    justify-content: space-between; /* Ensure equal or proportional spacing */
    height: 100vh; /* Take up full viewport height */
}

.container {
    flex: 0 0 55%; /* Adjust this percentage for 40% width */
    display: flex;
    justify-content: center;
    margin: 2rem;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.divider {
    flex: 0 0 45%; /* Adjust this percentage for 60% width */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001F3F;
    height: 100vh;
    box-sizing: border-box;
}

.login-img {
    width: 90%;
    max-width: 40rem;
    height: auto;
}


.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

input.error {
    border-color: red;
}


/* Add this to your existing CSS */
.hidden {
    display: none;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
